USER_NAME=your_username_here
USER_SECRET=get_this_from_https://twitchapps.com/tmi
CLIENT_ID=get_this_from_https://dev.twitch.tv/console (used for API requests)
CLIENT_SECRET=get_this_from_https://dev.twitch.tv/console (used for API requests)
PORT=3000
CHANNEL_NAME=channel_to_which_you_want_to_connect
CHANNEL_HOST_NAME=host_of_the_channel_to_which_you_want_to_connect